<template>
  <v-container fluid fill-height>
    <v-layout align-center justify-center>
      <v-col>
        <v-container class="pt-20">
          <v-row>
            <v-col></v-col>
            <v-col cols="12" sm="8">
              <h1 class="text-center">About Top Ten</h1>
              Welcome to the Top Ten! try to press the button as many times as you can in 5 seconds. <br>
              You can save your score by registering and compare yourself with other players or play freely to de-stress. <br>
              This game can help you prepare your hands to play games where fast fingers are needed with the mouse.
              Example:
              <li>
                   FPS (first person shooter)                
              </li>
              <li>
                   MOBA (Multiplayer Online Battle Arena)
              </li>
              <li>
                  MMORPG (Massively multiplayer online role-playing game)
              </li>
              <br>
              <h1 class="text-center">
                About us
              </h1>
              We are the HUASCAR team behind the development of this application. <br>
              On the inspiration for the creation of the game it has always happened to us as players that the performance in a game sometimes influences the control that one has with the mouse and many times due to lack of habit it ends up losing. <br>
              Thinking in these cases we decided to create a game where you can practice with the mouse and to promote competitiveness between players a ranking where you will be able to compare your skill with other players.
            </v-col>
            <v-col></v-col>
          </v-row>
        </v-container>
        <v-container class="pt-10">
          <v-row>
            <v-col v-for="(n, index) in devs" :key="index" sm="4">
              <v-card class="elevation-20 pa-4">
                <v-row>
                  <v-col cols="6 text-center">
                    <v-col>
                      <h4>
                        {{n.name}}
                      </h4>
                    </v-col>
                    <v-col>
                      <v-btn :href="n.git" class="mx-10" icon>
                        <v-icon size="30" color="orange" >fab fa-gitlab</v-icon>
                      </v-btn>
                    </v-col>

                  </v-col>
                  <v-col cols="6">
                    <v-avatar size="100" class="elevation-10">
                      <img :src="n.image">
                    </v-avatar>
                  </v-col>
                </v-row>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-layout>
  </v-container>
</template>

<script>
  export default {
    data() {
      return {
        devs: [{
            name: 'Luis Choque',
            image: 'https://gitlab.com/uploads/-/system/user/avatar/5609030/avatar.png?width=400',
            git: 'https://gitlab.com/shokocc',
          },
          {
            name: 'Noemi Durand',
            image: 'https://gitlab.com/uploads/-/system/user/avatar/10199299/avatar.png?width=400',
            git: 'https://gitlab.com/rosario.durand.curi',
          },
          {
            name: 'Marcos Mamani',
            image: 'https://gitlab.com/uploads/-/system/user/avatar/6796985/avatar.png?width=400',
            git: 'https://gitlab.com/marxcox11',
          },
          {
            name: 'Diego Leguia',
            image: 'https://scontent.flim9-1.fna.fbcdn.net/v/t39.30808-6/254544821_3136687803282146_7213564808927280838_n.jpg?_nc_cat=106&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeFXWB4iU7bONuc3KaQnrbDkxcupI_-n0TnFy6kj_6fROaRe8XDhGsKrb8yQbSdLpvzH4jT-lvAa-I4kaB6bdjuh&_nc_ohc=m8mnJtMAhS4AX-2KvX_&_nc_ht=scontent.flim9-1.fna&oh=d146e0b82a34fb2b2feb29091ff66faa&oe=61A378FB',
            git: 'https://gitlab.com/diego-leguia',
          },
          {
            name: 'Piero Valenzuela',
            image: 'https://gitlab.com/uploads/-/system/user/avatar/7676671/avatar.png?width=400',
            git: 'https://gitlab.com/valenzuelapier',
          }
        ]
      }
    }
  }
</script>