<template>
    <ListPlayersAdmin />
</template>

<script>
    import ListPlayersAdmin from "../components/ListPLayersAdmin.vue"
    export default {
        components: {
            ListPlayersAdmin
        }
    };
</script>