<template>
    <v-container>
        <v-row>
            <v-col></v-col>
            <v-col sm="10">
                <br>
                 <div class="text-center justify">
                      <h1>THE TOP TEN</h1><br>
                </div>
                <v-timeline align-top :dense="$vuetify.breakpoint.smAndDown">
                    <v-timeline-item v-for="(item, i) in playerData" :key="i" icon=" mdi-book-variant"  fill-dot>
                        <v-hover v-slot="{ hover }">
                            <v-card
                            class="mx-auto"
                            color="grey lighten-4"
                            max-width="600"
                            >
                            <v-img 
                                :aspect-ratio="16/9"
                                :src="item.avatar_url"
                            >
                                <v-expand-transition>
                                <div
                                    v-if="hover"
                                    class="d-flex transition-fast-in-fast-out orange darken-2 v-card--reveal text-h2 white--text"
                                    style="height: 100%;"
                                >
                                    {{item.nickname}}
                                </div>
                                </v-expand-transition>
                            </v-img>
                            <v-card-text
                                class="pt-6"
                                style="position: relative;"
                            >
                                <div class="font-weight-light grey--text text-h6 mb-2">
                                <span>Last conection:</span> <span>{{item.updated_at}}</span>
                                </div>
                                <h3 class="text-h4 font-weight-light orange--text mb-2">
                                <span>Ranking:</span> <span>{{item.ranking}}</span><br>
                                </h3>
                                <div class="font-weight-light text-h6 mb-2">
                                <span>Status:</span> <span>{{item.status}}</span><br>
                                </div>
                            </v-card-text>
                            </v-card>
                        </v-hover>
                    </v-timeline-item>
                </v-timeline>
            </v-col>
            <v-col></v-col>
        </v-row>
    </v-container>

</template>

<script>
import { playerService } from '../service/playerService'
    export default {
        data() {
            return {
                playerData : [],
            }
        },
        methods: {
             listar(){
                this.playerData = [];
                playerService.getPlayers("take","10").then(
                    (res) => {
                         this.playerData = res.data.data
                    }
                ).catch(
                    (err)=>{
                        console.log(`${err} ocurrio un error, pongase en contacto con soporte`)
                    }
                );
            },
        },
        created(){
            this.listar();
        }
    }
</script>