<template>
    <v-container>
        <v-row>
            <v-container>
                <v-row class="pt-10">
                    <v-col cols="12" sm="4">
                        <v-card rounded="lg" min-height="268">
                            <v-img :src="playerData[1].avatar_url" :fallback="noImage" height="200px"></v-img>
                            <v-card-title>
                                {{playerData[1].nickname}}
                            </v-card-title>
                            <v-card-subtitle>
                                <span>Ranking:</span> <span>{{playerData[1].ranking}}</span><br>
                                <span>Status:</span> <span>{{playerData[1].status}}</span><br>
                                <span>Last conection:</span> <span>{{playerData[1].updated_at}}</span>
                            </v-card-subtitle>
                        </v-card>
                    </v-col>

                    <v-col cols="12" sm="4">
                        <v-card rounded="lg">
                            <v-img :src="playerData[0].avatar_url" :fallback="noImage" height="200px"></v-img>
                            <v-card-title>
                                {{playerData[0].nickname}}
                            </v-card-title>
                            <v-card-subtitle>
                                <span>Ranking:</span> <span>{{playerData[0].ranking}}</span><br>
                                <span>Status:</span> <span>{{playerData[0].status}}</span><br>
                                <span>Last conection:</span> <span>{{playerData[0].updated_at}}</span>
                            </v-card-subtitle>
                        </v-card>
                    </v-col>

                    <v-col cols="12" sm="4">
                        <v-card rounded="lg" min-height="268">
                            <v-img :src="playerData[2].avatar_url" :fallback="noImage" height="200px"></v-img>

                            <v-card-title>
                                {{playerData[2].nickname}}
                            </v-card-title>

                            <v-card-subtitle>
                                <span>Ranking:</span> <span>{{playerData[2].ranking}}</span><br>
                                <span>Status:</span> <span>{{playerData[2].status}}</span><br>
                                <span>Last conection:</span> <span>{{playerData[2].updated_at}}</span>
                            </v-card-subtitle>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
        </v-row>
        <v-row class="pa-10">
            <v-col cols="12">
                <template>
                    <v-simple-table>
                        <template v-slot:default>
                            <thead>
                                <tr>
                                    <th class="text-center">
                                        Nickname
                                    </th>
                                    <th class="text-center">
                                        Status
                                    </th>
                                    <th class="text-center">
                                        Ranking
                                    </th>
                                    <th class="text-center">
                                        Avatar
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in playerData" :key="item.id">
                                    <td class="text-center">{{ item.nickname }}</td>
                                    <td class="text-center">{{ item.status }}</td>
                                    <td class="text-center">{{ item.ranking }}</td>
                                    <td class="text-center pa-2">
                                        <v-avatar>
                                            <img :src="item.avatar_url" :fallback="noImage">
                                        </v-avatar>
                                    </td>
                                </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                </template>
            </v-col>
        </v-row>
    </v-container>

</template>

<script>
    import { playerService } from '../service/playerService'
    export default {
        data: () => ({
                showModal:false,
                playerData : [],
                nickname:String,
                avatar_url:String,
            noImage: "https://www.freeiconspng.com/uploads/no-image-icon-6.png",
        }),

        created() {
            this.listar();
        },
        methods: {
            listar() {
                this.playerData = [];
                playerService.getPlayers().then(
                    (res) => {
                        this.playerData = res.data.data
                    }
                ).catch(
                    (err) => {
                        console.log(`${err} ocurrio un error, pongase en contacto con soporte`)
                    }
                );
            },
        }

    }
</script>