<template>
  <v-container>
    <v-row class="pt-12">
      <v-col>
        <v-text-field
          @keyup="searUsers"
          v-model="emailSearch"
          label="Email"
          outlined
          required
        >
          <v-icon slot="prepend" color="pink">fas fa-at</v-icon>
        </v-text-field>
      </v-col>
      <v-col>
        <v-text-field v-model="nicknameSearch" @keyup="searUsers" label="Nickname" outlined required>
          <v-icon slot="prepend" color="pink">fas fa-users</v-icon>
        </v-text-field>
      </v-col>
      <v-col>
        <v-select
          @change="searUsers"
          v-model="statusSearch"
          :items="statusItems"
          label="Status"
          outlined
        ></v-select>
      </v-col>
    </v-row>
    <v-simple-table class="mr-auto pt-12">
      <template v-slot:default>
        <thead class="pink darken-2 text-center">
          <tr class="">
            <th class="text-center white--text font-weight-black">Email</th>
            <th class="text-center white--text font-weight-black">Nickname</th>
            <th class="text-center white--text font-weight-black">Ranking</th>
            <th class="text-center white--text font-weight-black">Status</th>
            <th class="text-center white--text font-weight-black">Avatar</th>
            <th class="text-center white--text font-weight-black">Options</th>
          </tr>
        </thead>
        <tbody>
          <tr class="text-center" v-for="user in userData" :key="user.email">
            <td v-if="false">{{ player.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.player.nickname }}</td>
            <td>{{ user.player.ranking }}</td>
            <td>{{ user.player.status }}</td>
            <td>
              <v-avatar>
                <img :src="user.player.avatar_url" :fallback="noImage" />
              </v-avatar>
            </td>
            <td class="text-center">
              <v-dialog
                transition="dialog-top-transition"
                max-width="1200px"
                width="800px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    @click="getUser(user.id)"
                    icon
                    class="ma-2"
                    color="#3480eb"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon>fas fa-edit</v-icon>
                  </v-btn>
                </template>
                <span>Edit</span>
                <template v-slot:default="dialog">
                  <v-card>
                    <v-toolbar justify="center" color="pink" dark
                      >Update</v-toolbar
                    >
                    <v-card-text class="text-h2 pa-12">
                          <v-row>
                            <v-col>
                              <div class="grey--text text-darken-1 text-h5">
                                User
                              </div>
                            </v-col>
                          </v-row>
                          <v-row justify="center">
                            <v-col cols="12" sm="6" md="5">
                                <v-text-field
                                  v-model="email"
                                  label="Email"
                                  outlined
                                  required
                                >
                                </v-text-field>
                             
                            </v-col>
                            <v-col cols="12" sm="6" md="4">
                                <v-text-field
                                  v-model="password"
                                  label="Password"
                                  type="password"
                                  outlined
                                  required
                                >
                                </v-text-field>
                            </v-col>
                            <v-col cols="12" sm="6" md="3">
                              <v-btn
                                color="primary"
                                dark
                                class="mr-6"
                                @click="updateUser"
                              >
                                Update User
                              </v-btn>
                            </v-col>
                          </v-row>
                          <v-divider class="pt-9"></v-divider>
                          <validation-observer>
                            <form @submit.prevent="editPlayer">
                              <v-row>
                                <v-col>
                                  <div class="grey--text text-darken-1 text-h5">
                                    Player
                                  </div>
                                </v-col>
                              </v-row>
                              <v-row>
                                <v-col>
                                  <validation-provider name="Nickname">
                                    <v-text-field v-model="nickname" label="Nickname" outlined required>
                                    </v-text-field>
                                  </validation-provider>
                                </v-col>
                                <v-col>
                                  <validation-provider name="ranking">
                                    <v-text-field v-model="ranking" label="Ranking" outlined  required>
                                    </v-text-field>
                                  </validation-provider>
                                </v-col>
                                <v-col>
                                  <validation-provider name="status">
                                    <v-select v-model="status" :items="statusItems" label="Status" outlined></v-select>
                                  </validation-provider>
                                </v-col>
                              </v-row>

                              <validation-provider name="avatar">
                                <v-text-field v-model="avatar_url" label="Avatar" outlined required>
                                </v-text-field>
                                <v-img :src="avatar_url" height="200px"></v-img>
                              </validation-provider>

                              <v-row justify="center" class="pt-12">
                                <v-btn class="mr-6" color="error" dark @click="dialog.value = false">Exit</v-btn>
                                <v-btn color="primary" dark class="mr-6" type="submit">
                                  Update Player
                                </v-btn>
                              </v-row>
                            </form>
                          </validation-observer>
                    </v-card-text>
                  </v-card>
                </template>
              </v-dialog>
              <v-tooltip bottom>
                <template v-slot:activator="{ on, attrs }">
                  <v-btn
                    @click="deleteUser(user.id)"
                    icon
                    class="ma-2"
                    color="#eb345c"
                    v-bind="attrs"
                    v-on="on"
                  >
                    <v-icon>fa fa-trash</v-icon>
                  </v-btn>
                </template>
                <span>Deleted</span>
              </v-tooltip>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
    <template>
      <v-row class="pt-12" justify="space-around">
        <v-col cols="auto">
          <v-btn color="#34b1eb" @click="loadMore">Load More</v-btn>
        </v-col>
      </v-row>
    </template>
  </v-container>
</template>

<script>
import { userService } from '../service/userService';
import { playerService } from '../service/playerService';
import {
  ValidationObserver,
  ValidationProvider,
  setInteractionMode,
} from 'vee-validate';
import Swal from 'sweetalert2';
import '/src/assets/css/sweetalert2.scss';

setInteractionMode('eager');

export default {
  components: {
    ValidationProvider,
    ValidationObserver,
  },
  data: () => ({
    emailSearch: '',
    statusItems: ['GOLD', 'BRONZE', 'SILVER'],
    user: [],
    userData: [],
    userItem: {},
    idUsuario: 0,
    idPlayer: 0,
    email: '',
    password: '',
    nickname: '',
    status: '',
    ranking: '',
    avatar_url: '',
    value: '',
    nicknameSearch: '',
    statusSearch: '',
    valueSkip: 0,
    setTimeBuscador: '',
    noImage: 'https://www.freeiconspng.com/uploads/no-image-icon-6.png',
  }),
  created() {
    this.listUsers();
  },
  methods: {
    listUsers() {
      this.userData = [];
      userService
        .getUsers()
        .then((res) => {
          this.userData = res.data.data;
          this.user = this.userData;
          this.userData = this.userData.filter((user) => user.player !== null);
          this.userData.forEach((user) => {
            let { email, player } = user;
            if (player == null) throw 'Not exist player';
            this.email = email;
            // this.nickname = player.nickname;
            // this.status = player.status;
            // this.ranking = player.ranking;
            // this.avatar_url = player.avatar_url;
          });
        })
        .catch((err) =>
          console.log(
            `${err} ocurrio un error, pongase en contacto con soporte`,
          ),
        );
    },
    getUser(idUser) {
      userService
        .getUser(idUser)
        .then((res) => {
          this.user = res.data.data;
          this.idUsuario = this.user.id;
          this.email = this.user.email;
          this.idPlayer = this.user.player.id;
          this.nickname = this.user.player.nickname;
          this.status = this.user.player.status;
          this.avatar_url = this.user.player.avatar_url;
          this.ranking = this.user.player.ranking;
        })
        .catch((err) =>
          console.log(
            `${err} ocurrio un error al obtener el jugador, pongase en contacto con soporte`,
          ),
        );
    },
    deleteUser(idUser) {
      let userDeleted = this.userData.filter((user) => user.id === idUser);
      let nickname = userDeleted[0].player.nickname;
      Swal.fire({
        html: `<div class= "text">Do you want to deleted this ${nickname}?</div>`,
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'Confirm',
        customClass: 'Custom_Cancel',
        reverseButtons: true,
      }).then((result) => {
        if (result.isConfirmed) {
          userService
            .deleteUser(idUser)
            .then((res) => {
              if (res.status == 404) throw 'Usuario no fue encontrado';
              Swal.fire({
                position: 'bottom-end',
                icon: 'success',
                title: `The User ${nickname} was removed successfuly!`,
                showConfirmButton: false,
                timer: 2500,
              });
              this.userData = this.userData.filter(
                (player) => player.id !== idUser,
              );
            })
            .catch((err) => {
              console.log(err);
              Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Something went wrong!',
                footer: '<a href="">Why do I have this issue?</a>',
              });
            });
        }
      });
    },
    updateUser() {
      let userInput = {
        id: this.idUsuario,
        email: this.email,
        password: this.password,
      };
      userService
        .putUser(userInput)
        .then((res) => {
          if (res.status !== 200) throw 'Problem at udpate user';
          this.email = res.data.data.email;
          this.password = res.data.data.password;
          this.userData = this.userData.map((u) => u.id == res.data.data.id ? res.data.data : u);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    getUserSearch() {
      let options = {
        email: this.emailSearch,
        nickname: this.nicknameSearch,
        status: this.statusSearch,
      }
      console.log({ options });
      userService
        .getUsers(options)
        .then((res) => res.data)
        .then((res) => {
          this.userData = res.data;
        })
        .catch((err) => {
          console.log(err);
        });
    },
    searUsers() {
      
      clearTimeout(this.setTimeBuscador);
      this.setTimeBuscador = setTimeout(() => {
        this.getUserSearch();
      }, 2000);
    },
    editPlayer(){
      
      let playerUpdate = {
        id:this.idPlayer,
        nickname: this.nickname,
        ranking: parseInt(this.ranking),
        status: this.status,
        avatar_url: this.avatar_url,
        user_id: this.user.id
      }
     
      playerService
      .putPlayer(playerUpdate)
      .then(() => {
      })
    }, 
    loadMore() {
      let options = {
        email: this.emailSearch,
        nickname: this.nicknameSearch,
        status: this.statusSearch,
        skip: this.userData.length,
      }
      userService
        .getUsers(options)
        .then((res) => {
          this.userData.push(...res.data.data);
        })
        .catch((err) => {
          console.log('error al buscar ', err);
        });
    },
  }
};
</script>
