<template>
    <v-card flat tile>
        <v-toolbar>
            <v-img src="../assets/top_ten_logo.png" max-width="60"></v-img>
            <v-spacer></v-spacer>
            <v-tooltip bottom>
                <template v-slot:activator="{on, attrs}">
                    <v-btn icon class="ma-2" color="pink" to="/" v-bind="attrs" v-on="on">
                        <v-icon>fas fa-home</v-icon>
                    </v-btn>
                </template>
                <span>Home</span>
            </v-tooltip>

            <v-tooltip bottom>
                <template v-slot:activator="{on, attrs}">
                    <v-btn icon class="ma-2" color="pink" to="/hall" v-bind="attrs" v-on="on">
                        <v-icon>fas fa-users</v-icon>
                    </v-btn>
                </template>
                <span>Hall</span>
            </v-tooltip>

            <v-tooltip bottom>
                <template v-slot:activator="{on, attrs}">
                    <v-btn icon class="ma-2" color="pink" to="/about" v-bind="attrs" v-on="on">
                        <v-icon>fas fa-star</v-icon>
                    </v-btn>
                </template>
                <span>About</span>
            </v-tooltip>

            <v-tooltip bottom>
                <template v-slot:activator="{on, attrs}">
                    <v-btn icon class="ma-2" color="pink" to="/game" v-bind="attrs" v-on="on">
                        <v-icon>fas fa-gamepad</v-icon>
                    </v-btn>
                </template>
                <span>Game</span>
            </v-tooltip>
            <v-tooltip v-if="statusAdmin==true" bottom>
                <template v-slot:activator="{on, attrs}">
                    <v-btn icon class="ma-2" color="pink" to="/admin" v-bind="attrs" v-on="on">
                        <v-icon>fas fa-table</v-icon>
                    </v-btn>
                </template>
                <span>Admin</span>
            </v-tooltip>
            <v-spacer></v-spacer>

            <v-menu
        left
        bottom
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            icon
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>

        <v-list>
          <v-list-item style="display:contents" >
            <v-list-item-title> 
                <v-btn v-if="statusLogin == false && statusAdmin!=true" class="ma-2" to="/login" outlined color="pink">
                    Login
                </v-btn>
            </v-list-item-title>
            <v-list-item-title>
                    <v-btn v-if="statusLogin == true" class="ma-2" @click="validacionEstadoUser()" outlined color="pink">
                        Log out
                    </v-btn>
            </v-list-item-title>
            <v-list-item-title>
                    <v-btn v-if="statusLogin == true && statusAdmin!=true" class="ma-2" @click="getInfo()" outlined color="pink">
                        My info
                    </v-btn>                
            </v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
        </v-toolbar>
        <!--Dialog my info-->
        <v-row justify="center">
                            <v-dialog v-model="dialog">
                                <v-card>
                                    <v-card-title class="text-h5">
                                        Edit
                                    </v-card-title>
                                    <v-card-text>
                                         <v-form
                                            ref="form"
                                            v-model="validForm"
                                            lazy-validation
                                        >
                                                <v-row>
                                                    <v-col>
                                                        <v-text-field type="email" :rules="emailRules"  v-model="email" label="Email*" placeholder="Email" outlined
                                                            required></v-text-field>
                                                    </v-col>
                                                    <v-col>
                                                        <v-text-field type="password" :rules="passwordRules" v-model="password" label="Password*" placeholder="Password" outlined
                                                            required></v-text-field>
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col>
                                                        <v-text-field type="text" v-model="nickname" :rules="nicknameRules" label="Nickname*" placeholder="Nickname" outlined
                                                            required></v-text-field>

                                                    </v-col>
                                                    <v-col>
                                                        <v-text-field readonly type="number"  v-model="counter" label="Points*" placeholder="Points" outlined
                                                            required></v-text-field>
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col>
                                                        <v-text-field type="text"  v-model="avatar" label="Avatar_url*" placeholder="Avatar_url" outlined
                                                            required></v-text-field>
                                                    </v-col>
                                                </v-row>
                                                <v-row>
                                                    <v-col>
                                                            <v-img  max-height="250" max-width="430" :src="avatar"></v-img>
                                                    </v-col>                                                
                                                </v-row>
                                        </v-form>
                                    </v-card-text>

                                    <v-card-actions>
                                        <v-spacer></v-spacer>
                                        <v-btn color="blue darken-1" text @click="updatePlayer">
                                            Save
                                        </v-btn>

                                        <v-btn color="red darken-1" text @click="dialog = false">
                                            Cancel
                                        </v-btn>
                                        <v-spacer></v-spacer>
                                    </v-card-actions>
                                </v-card>
                            </v-dialog>
                </v-row>
                <!--fin dialog-->
                 <!--snackbar-->
               <v-snackbar
                    :timeout="1000"
                    :value="showSnackBarError"
                    absolute
                    centered
                    shaped
                    color="red"
                    top
                >
                    {{mensajeError}}
                </v-snackbar>

                <v-snackbar
                    :timeout="1000"
                    :value="showSnackBarOk"
                    absolute
                    centered
                    shaped
                    color="green"
                    top
                >
                    {{mensajeOk}}
                </v-snackbar>
            <!--fin snackbar-->
    </v-card>
</template>

<script>
import { playerService } from '../service/playerService'
    import router from '../router/index'
    export default {
        props: ['statusLogin','statusAdmin'],
        data() {
            return {
                pathLogin: true,
                //dialog
                dialog:false,
                //form
                validForm:true,
                 nicknameRules: [
                    v => !!v || 'Nickname is required',
                    v => v.length <= 50 || 'Nickname must be less than 50 characters',
                ],
                passwordRules: [
                    v => !!v || 'Password is required',
                    v => v.length <= 50 || 'Password must be less than 50 characters',
                ],
                emailRules: [
                    v => !!v || 'E-mail is required',
                    v => /.+@.+/.test(v) || 'E-mail must be valid',
                ],
                nickname:"",
                avatar:"",
                email:"",
                password:"",
                counter:0,
                //snackbar variables
                showSnackBarError:false,
                showSnackBarOk:false,
                mensajeError:"",
                mensajeOk:"",
            }
        },
        methods: {
            validacionEstadoUser() {
                localStorage.clear();
                this.statusAdmin=false;
                this.statusLogin=false;
                this.$emit('statusLoginResponse', false);
                router.push('/login');
            },
            getInfo(){
                    if(localStorage.user!=undefined){
                        this.dialog=true
                    let data = JSON.parse(localStorage.user);
                    playerService.getPlayer(data.player.id).then(res=>{
                        this.nickname=res.data.data.nickname;
                        this.counter=res.data.data.ranking;
                        this.email=data.email;
                        this.avatar=res.data.data.avatar_url;
                        this.rankingTemp= res.data.data.ranking;          
                    })
                }
            },
            updatePlayer(){
                if(this.nickname==="" || this.email==="" || this.password===""){
                    this.$refs.form.validate();
                 }else{
                    if(localStorage.user!=undefined){
                        let data = JSON.parse(localStorage.user);
                        //editar
                            let objPlayer={
                            "nickname": this.nickname,
                            "ranking": this.counter,
                            "avatar_url": this.avatar,
                            "id":data.player.id
                            };
                            let objUser={
                                "email": this.email,
                                "password": this.password,
                            }
                            playerService.putPlayer(objPlayer,objUser).then(()=>{
                                this.dialog=false;
                                this.showSnackBarOk=true;
                                this.mensajeOk="Has been saved successfully.";
                            }).catch(()=>{
                                this.dialog=false;
                                this.showSnackBarError=true;
                                this.mensajeError="An error occurred."
                            });   
                    }
                 }
            }
        },
        
        created(){
            if(localStorage.user===undefined){
                this.statusLogin=false;
                
            }else{
                this.statusLogin=true;
                let user=JSON.parse(localStorage.user)
                if(user.role==="ADMIN"){
                    this.statusAdmin=true
                }
            }
        }

    }
</script>
