<template>
  <v-app>
    <Nav :statusAdmin="statusAdmin" :statusLogin="statusLogin" @statusLoginResponse="loginResponse($event)"/>
    <v-main>
      <router-view :status="statusLogin" @userExist="loginResponse($event)"/>
    </v-main>
  </v-app>
</template>

<script>
import Nav from "./components/Nav.vue"
export default {
  name: "App",
  components:{
    Nav
  },
  data: () => ({
    statusLogin: false,
    statusAdmin: false,
  }),
  methods:{
    loginResponse(e){
      this.statusLogin = e;

      const user=JSON.parse(localStorage.user || "{}");
      if(user.role==="ADMIN" && e){
        this.statusAdmin=true;
      }else{
        this.statusAdmin=false;
      }
      
    }
  },
};
</script>
